.content-div1 {
    margin-top: 40px;
    height: 50px;

}

.backarrow-span {
    margin-left: 40px;
}

.backarrow-span-img {
    width: 50px;
}

.div1-h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    height: 50px;


}



.div1-draft {
    background-color: #D5D6DF;
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.draft-logo {
    margin-left: 10px;
    background: transparent;

}

.draft-text {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    font-weight: 600;
}

.content-div2 {

    height: 300px;


}

.div2-subdiv1 {
    background-color: #048C7F;
    border-radius: 5px;
    width: 366px;
    height: 217px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 40px;
}

.subdiv1-h1 {
    color: white;
    padding-left: 43px;
    padding-top: 42px;
    font-size: 24px;
    font-weight: bold;
}

.subdiv1-h2 {
    color: white;
    margin-top: 40px;

}

.subdiv1-h2-span1 {
    padding-left: 45px;

}

.subdiv1-h2-span2 {
    margin-left: 100px;
}

.subdiv1-h3 {
    margin-top: 20px;
}

.subdiv1-h3-span1 {
    color: white;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 400;
}

.subdiv1-h3-span2 {

    color: white;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 400;
}

.div2-subdiv2 {

    width: 200px;
    display: inline-block;
    border-radius: 5px;
    width: 366px;
    height: 217px;
    padding-top: 20x;

}






.subdiv2-h1 {
    color: black;
    font-weight: bold;


}

.subdiv2-h1-span1 {
    color: black;
    font-size: 24px;

    margin-left: 10px;


}

.subdiv2-h2-span2 {
    color: black;
    font-size: 24px;

    margin-left: 90px;


}


.subdiv2-h2 {
    padding-left: 30px;
}

.subdiv2-h3 {
    padding-left: 30px;
}

.div2-subdiv3 {

    width: 200px;
    display: inline-block;
    border-radius: 5px;
    width: 366px;
    height: 217px;
    padding-top: 20px;

}

.subdiv3-h1 {
    color: white;
    padding-left: 43px;
    padding-top: 42px;
    font-size: 24px;
    font-weight: bold;
}



.subdiv3-h2-span2 {
    color: black;
    font-size: 24px;

    margin-left: 20px;


}

.subdiv3-h2-span2 {
    color: black;
    font-size: 24px;

    margin-left: 43px;


}

.subdiv2-h3-span2 {
    color: black;
    font-size: 24px;

    margin-left: 90px;


}

.subdiv3-h3-span2 {
    color: black;
    font-size: 24px;

    margin-left: 100px;


}

.content-div3 {
    margin-left: 47px;
}

.note-div3-span1 {
    font-weight: bold;
    color: #405CD2;
}

.note-div3-span2 {
    color: #405CD2;
}

@media(max-width:1556px) {
    .div2-subdiv3 {
        display: none;
    }
}

@media(max-width:820px) {
    .div2-subdiv2 {
        display: none;
    }
}

@media(max-width:820px) {
    .content-div3 {
        overflow: hidden;
    }
}

.navbar {
    padding-left: 20px;
    margin-top: 10px;
    border-bottom: none;

}

.navbar-text-1 {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.navbar-text-2 {
    margin-left: -1200px;
    margin-right: -1200px;
    color: grey;
    background-color: #F7F7FA;
}

.red-text2 {
    background-color: red;
    color: white;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 50%;
}

.navbar-text-3 {
    margin-right: 1200px;
    color: grey;
    background-color: #F7F7FA;

}

@media(max-width:1879px) {


    .navbar-text-3,
    .navbar-text-2 {
        display: none;
    }
}

.content-div5 {

    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
}

.navbar3-span1 {
    font-size: 16px;
    color: white;
    margin-left: 500px;
    width: 400px;
    background-color: grey;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;

}

.navbar3-span2 {
    color: white;
    background-color: blue;
    margin-left: 10px;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    width: 400px;


}

.tablerow1 {
    color: grey;
}

.tablerow2 {
    font-weight: bold;
    font-size: 16px;
}